@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  :root {
    --color-primary: #a55eea;
    --color-primary-darker: #8854d0;

    --color-secondary: #fc5c65;
    --color-secondary-darker: #eb3b5a;

    --color-tertiary: #45aaf2;
    --color-tertiary-darker: #2d98da;

    --color-spotify: #1ed760;
    --color-spotify-darker: #1db954;
  }

  html,
  body {
    @apply bg-black;
    @apply text-white;
  }

  h1 {
    @apply text-5xl;
    @apply font-bold;
  }
  h2 {
    @apply text-4xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-bold;
  }
  p {
    @apply text-base;
  }
  small {
    @apply text-sm;
  }
}
